@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: "Poppins";
    background: linear-gradient(to right, rgb(197, 197, 197), white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgLogin{
    z-index: -1;
}

#imgLogin img{
    float: right;
    border-radius: 35px 0px 0px 35px;
    box-shadow: gray -7px 0px 25px;
}

#dadosLogin{
    float: left;
    box-shadow: gray 7px 0px 25px;
    border-radius: 0px 35px 35px 0px;
    margin-left: -12px;
    padding: 15px;
    width: 360px;
}

#dadosLogin img{
    margin-left: 5px;
}

#dadosLogin label{
    font-family: "Poppins";
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#dadosLogin input{
    width: 320px;
    margin-bottom: 25px;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    font-family: "Poppins";
}

#salvar{
    background-color: gray;
    box-shadow: gray 0px 0px 25px;
    color: white;
    font-weight: bolder;
    font-size: 27px;
}

#dadosLogin h5{
    font-weight: normal;
    font-size: 15px;
    margin-left: 12px;
    margin-top: -10px;
    font-family: "Poppins";
}

#dadosLogin h5 a{
    text-decoration: none;
    color: blue;
}

#dadosLogin h2{
    font-weight: normal;
    font-size: 14px;
    margin-left: 12px;
    text-align: justify;
    margin-top: 180px;
    width: 300px;
}